.bg-color-gray{
  background-color: #e3e4e7;
}
.nav-text{
  font-size: 1rem;
  font-weight: bold;
}
.log-button{
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.mainbg-color{
  background-color: #F8F9FB;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.custom-placeholder{
  background-color:#4a505b;
  border:none;
  margin-top: 10px;
}
.form-group{
  padding: 10px;
}

@media (max-width: 767px) {
  .custom-padding {
    padding-left: 3rem; 
  }
  .custom-social{
    font-size: 25px;
    padding-bottom: 5px;
  }
}

  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }
  .card-registration .select-arrow {
  top: 13px;
  }
  .custom-menu {
    min-width: 5rem; 
    max-width: 6rem;
}